h1= @team.name
p= "Rank: #{@team.rank}"
p= "Owner: #{@team.user && @team.user.name}"
p= "Remaining Salary: #{number_to_currency(@team.remaining_salary, precision: 0)}"
- if current_user == @team.league.commissioner
  = link_to 'Edit team', edit_league_team_path(id: @team.id)
