h1= "##{@player.number} #{@player.full_name}"
p= "Position: #{@player.position}"
p= "Height: #{@player.height_display}"
p= "Weight: #{@player.weight}lbs"
p= "Age: #{@player.age}"
p= "Experience: #{@player.experience_display}"
p= link_to 'Edit Player', edit_player_path(@player)
p= button_to 'Delete Player', player_path, method: 'delete'
