/* tables */
#player-table {
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 8pt;
  width: 100%;
  text-align: left;
}

#player-table thead tr th, #player-table tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 8pt;
  padding: 4px;
}

#player-table thead tr .header {
  background-image: image-url('bg.gif');
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

#player-table tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}

#player-table tbody tr.odd td {
  background-color:#F0F0F6;
}

#player-table thead tr .headerSortUp {
  background-image: image-url('asc.gif');
}

#player-table thead tr .headerSortDown {
  background-image: image-url('desc.gif');
}

#player-table thead tr .headerSortDown, #player-table thead tr .headerSortUp {
  background-color: #8dbdd8;
}
